@import "tailwindcss";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.4s ease 1s forwards; /* Duration {time}, Delay {time} */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
